<div id="education-<%= education.id %>" class="fade-section">
  <%= simple_form_for education, remote: true, :html => {:method => :put, :class => 'form-horizontal' } do |p| %>
    <div class="alert alert-danger hide">
      <span></span>
    </div>
    
    <%= hidden_field_tag :profile_id, @profile.id %>
    <%= p.input :school, autofocus: true %>

    <div class="control-group">
      <%= p.label :from, 'Dates attended', :class => 'control-label' %>
      <div class="controls form-inline">
        <% year = Date.today.year %>
        <%= p.input_field :from, collection: (year-20)..year, style: "width: 100px" %> - 
        <%= p.input_field :to, collection: (year-20)..year, style: "width: 100px" %>
      </div>
    </div>
    <%= p.input :degree, collection: Education::DEGREES, prompt: "Please Select..." %>
    <%= p.input :area_of_study %>
    <div class="control-group">
      <%= p.label :comments, 'Description', :class => 'control-label' %>
      <div class="controls">
        <%= p.text_area :comments, :class => 'overview' %>
      </div>
    </div>
    <div class="controls form-inline">
      <%= p.submit "Save", :class => "btn btn-success" %>
      <a class="btn" onclick="$('#education-<%= education.id %>').fadeOut('fast');">Cancel</a>
    </div>
  <% end %>
</div>