<style type="text/css"> /*Calendar Caption*/
.fc-header-title h2 {
    margin-top: 0;
    white-space: nowrap;
    font-size: 20px;
}
</style>
<!-- My Profile -->
<div class="margin-bottom-20">
	<br>
	<div class="row-fluid">
  	<div class="span7 center">
  		<%= image_tag current_user.profile.photo.url(:medium) unless current_user.profile.nil? %>
  	</div>
  </div>
  <h4 class="text-center"><a href="#"><%= current_user.fullname %></a></h4>

	<div class="span10">
		<div class="space"></div>
		<div id="preppee_calendar" class="calendar"></div>
	</div>
  <br>
  <div class="span10">
    <div class="headline"><h4>Prep Sessions</h4></div>
    <h5><%= link_to "Add Interview Prep", new_prep_path(:prep_type => 'interview') %></h5>
    <h5><%= link_to "Add Resume Prep", new_prep_path(:prep_type => 'resume') %></h5>
    <h5><%= link_to "Purchase Prep Guide" %></h5>
  </div>
</div>

<script type="text/javascript">
$(function(){

  $("#preppee_calendar").fullCalendar({
    events: [
    <% @scheduled_contracts.each do |schedule| %>
    {
      title: '<%= schedule[1] %>',
      start: new Date(Date.parse("<%= schedule[0] %>")),
      className: 'btn-u-red'
    },
    <% end %>
    ],
    header: {
      left: 'prev',
      center: 'title',
      right: 'next'
    }
  });
});

</script>