<style type="text/css"> /*Calendar Caption*/
.fc-header-title h2 {
    margin-top: 0;
    white-space: nowrap;
    font-size: 20px;
}
</style>
<!-- My Profile -->
<div class="margin-bottom-20">
	<br>
  <div class="row-fluid">
    <div class="span6">
      <%= image_tag current_user.profile.photo.url(:medium), style: "width: 100px; margin-right: 10px; float: left" %>
    </div>
    <div class="span6">
      <br><br>
      <div class="progress pull-left" data-percent="<%= completeness %>%" style="width: 120px;">
        <div class="bar" style="width:<%= completeness %>%">
        </div>
      </div>
      <%= link_to "Complete your proflie", edit_profile_path(current_user.profile) %>
    </div>
  </div>
  <hr>
	<div class="span10">
		<div class="space"></div>
		<div id="preppee_calendar" class="calendar"></div>
	</div>
  <br>
  <div class="span10">
    <div class="headline"><h4>Prep Sessions</h4></div>
    <h5><%= link_to "Add Interview Prep", new_prep_path(:prep_type => 'interview') %></h5>
    <h5><%= link_to "Add Resume Prep", new_prep_path(:prep_type => 'resume') %></h5>
    <h5><%= link_to "Purchase Prep Guide" %></h5>
  </div>
</div>

<script type="text/javascript">
$(function(){

  $("#preppee_calendar").fullCalendar({
    events: [
    <% @scheduled_contracts.each do |schedule| %>
    {
      title: '<%= schedule[1] %>',
      start: new Date(Date.parse("<%= schedule[0] %>")),
      className: 'btn-u-red'
    },
    <% end %>
    ],
    header: {
      left: 'prev',
      center: 'title',
      right: 'next'
    }
  });
});

</script>