<div class="container">	
	<div class="row-fluid">
		<!-- Search Results -->
		<div class="span8">
			<br>
			<%= render "layouts/messages" %>
			<div class="row-fluid">
				<%= form_for :seo, :url => users_path, html: {:method => "get", :class => 'form_horizontal'} do |f| %>
					<div class="controls form-inline">
						<%= f.label :query, "Search Preppers: " %>
						<%= f.text_field :query, :style => "width:60%;" %>
						<button type="submit" class="btn-u">Search</button>
					</div>
				<% end %>
			</div>
			<% @preps.each do |p| %>
		    <div class="row-fluid">
		      <div class="booking-blocks">
		      	<!-- unless request open page, then show user's image -->
		        <div class="span11" style="overflow:hidden;">
	            <h2>
            		<%= link_to p.title, prep_prep_applications_path(p), :class => 'color-blue' %>
	            </h2>
	            <p>
	            	Posted <%= p.elapsed %> ago  - <%= p.prep_applications.size %> preppees applied
	            </p>
	            <p>
								<% if !p.description.nil? && p.description.length > 200 %>
		            	<%= p.description.slice(0, 200) + "... " %>
		            	<a href="#">more</a>
		            <% else %>
		            	<%= p.description %>
		            <% end %>
		          </p>
		          <div class="pull-left">
			         	<ul class="inline blog-tags">
			         		<%
			         			required_skills = p.required_skills.split(',')
			         		%>
			         		<% required_skills.each do |s| %>
		            		<li><a href="#"><%= s %></a></li>
		            	<% end %>
		            </ul>
		          </div>
			      </div>
	        </div>
		    </div>
	    <% end %>
		</div><!--/span9-->
		<div class="span3">
	    <%= render "profile_sidebar" %><!-- :locals => { member: Member.new(), group_id: @group.id } -->
		</div><!--/span3-->
	</div><!--/row-fluid-->
</div><!--/container-->