<div class="container">	
	<div class="row-fluid">
		<!-- Search Results -->
		<div class="span8">
			<br>
			<%= render "layouts/messages" %>
			<% @preps.each do |p| %>
		    <div class="row-fluid">
		      <div class="booking-blocks">
		      	<!-- unless request open page, then show user's image -->
		        <div class="span3 pull-left booking-img">
	            <img src="/assets/blank_user.jpg" alt="">
	            <% confirmed = p.prep_applications.find_by_status(:scheduled) %>
	            <h5>
	            	<strong>
	            		<%= link_to confirmed.user.fullname, profile_path(confirmed.user.profile.token) %>
	            	</strong>
	            </h5>
	            <ul class="unstyled inline">
	               <li><span class="rating-star rating-45"></span></li>
	               <li><i class="icon-star"></i></li>
	               <li><i class="icon-star"></i></li>
	               <li><i class="icon-star"></i></li>
	               <li><i class="icon-star"></i></li>
	               <li><i class="icon-star-empty"></i></li>
	            </ul>
		        </div>
		        <div class="span8" style="overflow:hidden;">
	            <h2>
            		<%= link_to p.title, prep_path(p), :class => 'color-blue' %>
	            </h2>
	            <p>
	            	Posted <%= p.elapsed %> ago  - <%= p.prep_applications.size %> preppees applied
	            </p>
	            <p>
								<% if !p.description.nil? && p.description.length > 200 %>
		            	<%= p.description.slice(0, 200) + "... " %>
		            	<a href="#">more</a>
		            <% else %>
		            	<%= p.description %>
		            <% end %>
		          </p>
		          <div>
			         	<ul class="inline blog-tags">
			         		<%
			         			required_skills = p.required_skills.split(',')[0..3]
			         		%>
			         		<% required_skills.each do |s| %>
		            		<li><a href="#"><%= s %></a></li>
		            	<% end %>
		            </ul>
		          </div>
			      </div>
	        </div>
		    </div>
	    <% end %>
		</div><!--/span9-->
		<div class="span3">
	    <%= render "profile_sidebar" %><!-- :locals => { member: Member.new(), group_id: @group.id } -->
		</div><!--/span3-->
	</div><!--/row-fluid-->
</div><!--/container-->