<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sleekgeek Prep LLC" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sleekgeek Prep LLC" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" style="padding-bottom: 0px;">
    <%#= render 'shared/top' %>
    <div id="container">
      <%= render 'shared/header' %>
      <div id="wrapper">
      <%= yield %>
      </div>
      <div id="footer">
        <%= render 'shared/footer' %>
        <%= render 'shared/copyright' %>
      </div>
    </div>
    <!--! end of #main -->
  </body>
</html>