<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sleekgeek Prep LLC" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sleekgeek Prep LLC" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%#= render 'shared/top' %>
    <%= render 'shared/header' %>
    <div style="min-height:500px;">
    <%= yield %>
    </div>
    <footer>
      <%= render 'shared/footer' %>
      <%= render 'shared/copyright' %>
    </footer>
    <!--! end of #main -->
  </body>
</html>